<div class="tela tela-meus-pets">
  <div class="tela-container">
    <div class="tela-secao-principal">
      <div class="dados-pessoais">
        <div class="icone-container">
          <div class="icone">
            <i class="fas fa-paw"></i>
          </div>
        </div>
        <div class="dados-container">
          <div class="titulo-container">
            <div class="titulo">Meus pets</div>
            <div class="btn btn-light btn-voltar custom-router"
              routerLink="/" tabindex="0">
              Voltar
            </div>
          </div>
          <div class="descricao-container">
            <div class="descricao">Gerencie seus pets para adoção.</div>
            <div class="btn btn-novo"
              tabindex="0"
              (click)="onBtnNovoClick()">
              <span class="icone">
                <i class="fas fa-plus"></i>
              </span>
              <span class="texto">Novo</span>
            </div>
          </div>
        </div>
      </div>
      <div class="lista">
        <div class="lista__item" 
          *ngFor="let pet of listaPets.lista"
          [routerLink]="['edit', pet.id]">
          <div class="fotos">
            <img [src]="pet.img">
          </div>
          <div class="dados">
            <div class="flex-h center-h">
              <span class="nome flex-item-1">
                {{ pet.nome }}
              </span>
              <span class="sexo">
                <span class="sexo__box macho"
                  *ngIf="pet.sexo == EPetSexo.MACHO">
                  <i class="fas fa-mars"></i>
                </span>
                <span class="sexo__box femea"
                  *ngIf="pet.sexo == EPetSexo.FEMEA">
                  <i class="fas fa-venus"></i>
                </span>
              </span>
            </div>
            <div class="raca">{{ pet.raca }}</div>
            <div class="flex-h center-h">
              <span class="porte flex-item-1">
                {{ pet.porteDescricao }}
              </span>
              <span class="nascimento">
                {{ pet.nascimento_descricao }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>