<div class="tela tela-login">
  <div class="tela-container">
    <div class="tela-secao-principal">
      <div class="msg-bem-vindo">
        Faça seu login
      </div>
      <div class="criar-conta">
        Novo por aqui?
        <span class="criar-conta-link custom-router" routerLink="/cadastro">Criar conta</span>
      </div>
      <div class="dados-login">
        <!-- Login -->
        <div class="doc-login" [ngClass]="{
          'por-email': tipoLogin == ETipoLogin.tlPorEmail
        }">
          <!-- E-mail -->
          <my-custom-input class="ipt-email"
            tipo="email"
            [maxlength]="50"  
            placeholder="Digite seu e-mail..."
            [valor]="dadosLogin.email"
            (onChange)="onInputChange('email', $event)">          
          </my-custom-input>
        </div>
        <!-- Senha -->
        <my-custom-input class="senha"
          tipo="senha"
          [maxlength]="12"  
          placeholder="Digite sua senha..."
          [valor]="dadosLogin.senha"
          (onChange)="onInputChange('senha', $event)"
          (keydown.enter)="onLogarClick()">          
        </my-custom-input>
      </div>
    </div>
    <div class="tela-secao-rodape">
      <div class="btn btn-full btn-logar" tabindex="0" (click)="onLogarClick()"
        (keydown.space)="onLogarClick()"
        (keydown.enter)="onLogarClick()">
        Logar
      </div>
      <div class="btn btn-full btn-adotar" tabindex="0" routerLink="/buscar-pets">
        Adotar Pets
      </div>
    </div>
  </div>
</div>