{
  "host_api": "http://localhost:3333/",
  "firebase_api_key": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE",
  "firebase_auth_domain": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE",
  "firebase_project_id": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE",
  "firebase_storage_bucket": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE",
  "firebase_messaging_sender_id": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE",
  "firebase_app_id": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE",
  "firebase_measurement_id": "BUSCAR NO ARQUIVO DE CONFIGURACAO DO SEU APLICATIVO FIREBASE"
}